
ic_psd2/models/*
ic_psd2/.chip-builder/*
ic_psd2/output/*
# Ignore all __pycache__ directories recursively
**/__pycache__/

# Ignore .pyc files
*.pyc
*.pyo
*.pyd
.Python
.venv


# Ignore generated AutoClass files
ic_psd3/library/auto_class.py
ic_psd3/library/aves_class.py

#project testuse
ic_psd3/library/import/gsu1001_2025_nto_scripts.txt
ic_psd3/library/import/GSU1K1_NTO.xml
ic_psd3/library/reg_define.py
ic_psd3/library/GSU1K1_NTO_scripts.c
ic_psd3/library/GSU1K1_NTO_scripts.h